<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
  <!-- Optional theme-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

  <style>
    .bg-dark {
      background-color: #343a40; /* Темный фон */
    }
    .text-white {
      color: #ffffff; /* Белый цвет текста */
    }
  </style>

</head>

<body>


<header th:insert = "blocks/header :: header"></header>


<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div class="ui-state-default mt-2">
        <h3>Поддомены Spring приложений при помощи Nginx</h3>
        <br>

        <p class="par">
          Данная статья расскажет как на хосте организовать работу доменов 3-го уровня при помощи популярного веб-сервера Nginx.
          В качестве работающих приложений будем использовать java SpringBoot приложения для примера. Статья предназначена в первую очередь начинающим и не несёт
        какой-то сложный и высокопроизводительный функционал.
        </p>

        <p class="par">
          Итак, приступим
        </p>

        <p class="par">
          Пару слов о проблеме, которую будем решать. Очень часто в организации логики работы веб-ресурса необходимо использовать поддомены (или их ещё называют домены 3-го
          уровня). Например, ваш сайт <span style="font-weight: bold">site.com</span>, то для него поддоменом  будет <span style="font-weight: bold">admin.site.com</span> или
          <span style="font-weight: bold">help.site.com</span> и это, скорее всего сильно различимые по функционалу ресурсы, может быть даже разработанные на разных языках и платформах.
        </p>

        <p class="par">
          Также всегда удобно иметь тестовый экземпляр своего приложения по адресу <span style="font-weight: bold">test.site.com</span> и перезапускать его или
          останавливать пока основной сайт работает.
        </p>

        <p class="par">
          Для такой реализации необходимо иметь несколько одновременно работающих приложений на сервере. И каждое из них должно взаимодействовать с портом для связи
          с внешним миром (80 или 443). Иными словами мы получим коллизию портов.
        </p>

        <p class="par">
          Чтобы решить данную проблему можно использовать прокси сервер Nginx. У каждого работающего приложения будет свой отличный внутренний порт,
          а прокси сервер будет настроен сопоставлять эти порты доменным адресам.
        </p>

        <br>
        <p class="par">
          Дальше мы поэтапно выполним следующее:
        </p>

        <p class="par">
          1. У хостера создадим поддомены для каждого работающего приложения.
        </p>

        <p class="par">
          2. Создадим несколько Spring приложений для демонстрации.
        </p>

        <p class="par">
          3. Установим и настроим на веб-сервер Nginx и развернём там Spring приложения.
        </p>

        <br>

        <p class="par">
          Прежде всего нужно получить поддомены для каждого приложения свой. Подразумевается, что у вас уже есть свой зарегистрированный домен.
          Мы рассмотрим на примере хостера <a href="https://www.1gb.ru">1GB.ru</a>. У других будет что-то подобное, подробности подскажет техподдержка.
        </p>

        <p class="par">
          Переходим в личный кабинет и жмем на выделенный пункт на скриншоте ниже.
        </p>

        <br>
        <img src="/images/screenWin1.png" class="img-fluid" alt="Личный кабинет хостинга">
        <br>
        <br>

        <p class="par">
          Затем будет таблица ваших записей. Нужно выбрать шестерёнку вашего доменного имени как на скриншоте ниже.
        </p>

        <br>
        <img src="/images/screenWin2.png" class="img-fluid" alt="Таблица с записями">
        <br>
        <br>

        <p class="par">
          В следующей таблице мы и добавим поддоменные имена. На скриншоте внизу мы добавим <span style="font-weight: bold">test2.pufr.ru</span>.
          Обратите внимание, что <span style="font-weight: bold">test.pufr.ru</span> уже есть в списке. В графе "тип записи" нужно выбрать "А", а в параметрах
          IP адрес конечного сервера.
        </p>

        <br>
        <img src="/images/screenWin3.png" class="img-fluid" alt="Таблица с записями">
        <br>
        <br>

        <p class="par">
          Сделаем то же и для псевдонима <span style="font-weight: bold">www.test2.pufr.ru</span>. Обратите внимание, что поля "тип записи" и
          "параметры" отличаются от предыдущего снимка.
        </p>

        <br>
        <img src="/images/screenWin4.png" class="img-fluid" alt="Таблица с записями">
        <br>
        <br>

        <p class="par">
          Изменения вступают в силу не сразу, может потребоваться больше часа. Чтобы проверить что всё прошло успешно, достаточно перейти
          по созданным поддоменным адресам и должна открыться главная страница вашего приложения, если конечно в этот момент
          на сервере работает веб-приложение.
        </p>

        <p class="par">
          На этом настройка доменных имён завершена. Личный кабинет и панель управления на различных хостингах может сильно отличатся, но суть
          того что нужно сделать думаю ясна.
        </p>

        <p class="par">
          Далее перейдём к конфигурации Spring приложений.
        </p>

        <p class="par">
          Есть замечательный <a href="https://start.spring.io">ресурс</a> для конфигурирования проектов на spring, вот и воспользуемся им. Ниже
          на скриншоте окно настроек вашего будущего проекта, настройте так же как на снимке.
        </p>

        <br>
        <img src="/images/springConfigFromSite.png" class="img-fluid" alt="Настройки конфигуратора">
        <br>
        <br>

        <p class="par">
          После того как сгенерируете проект, нажав на кнопку GENERATE, вам будет предложено скачать архив. Соглашаемся и сохраняем
          себе в папку с проектами. Затем архив необходимо распаковать и открыть в IntelliJ IDEA. Студией будет создана иерархия папок и внедрены
          зависимости, которые мы указали в конфигураторе. Не буду подробно останавливаться на проекте, создании контроллеров и прочего, готовый проект
          можно взять с GitHub. В итоге должна быть вот такая структура папок:
        </p>

        <br>
        <img src="/images/screenIdeaConfig.png" class="img-fluid" alt="Настройки конфигуратора">
        <br>
        <br>

        <p class="par">
          Мы получили простое web приложение, с одной тестовой страничкой. Чтобы убедится в том, что всё работает - запустим его на выполнение.
          Если всё хорошо, то в терминале мы увидим вот такой вывод без сообщений об ошибках о Spring.
        </p>

        <br>
        <img src="/images/screenIdea1.png" class="img-fluid" alt="Терминал без ошибок">
        <br>
        <br>

        <p class="par">
          Ну и перейдя в браузере по адресу <span style="font-weight: bold">http://localhost:59999</span> мы увидим тестовую страничку как на скриншоте ниже
        </p>

        <br>
        <img src="/images/screenbrowser1.png" class="img-fluid" alt="работающее тестовое окно">
        <br>
        <br>

        <p class="par">
          Теперь когда всё работает, возвращаемся в студию и переходим в консоль, там упаковываем проект в JAR архив.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          mvn package
        </div>
        <br>

        <p class="par">
          В результате мы получим исполняемый архив в папке проекта.
        </p>

        <p class="par">
          Всё перечисленное выше необходимо проделать для второго приложения, изменив только лишь текст в передаваемой html страничке
          и номере порта в файле application.properties. Готовые архивы нужно скопировать на сервер и запустить на выполнение, но об этом позже.
          Если не хотите самостоятельно выполнять все действия можете просто скачайте себе готовый проект с GitHub.
        </p>

        <p class="par">
          Теперь когда у нас есть два рабочих приложение приступим к установке и настройке прокси-сервера Nginx
        </p>

        <br>
        <img src="/images/NGINX-logo.png" class="img-responsive" alt="работающее тестовое окно">
        <br>
        <br>


        <p class="par">
          Nginx - это высокопроизводительный веб-сервер и реверс-прокси-сервер, который также может использоваться в качестве почтового прокси-сервера.
          Он был разработан Игорем Сысоевым и выпущен в 2004 году. Основные особенности Nginx:
        </p>

        <p class="par">
          1. Высокая производительность: Nginx способен обрабатывать большое количество одновременных соединений благодаря своей асинхронной архитектуре.
        </p>

        <p class="par">
          2. Реверс-прокси: Nginx часто используется как реверс-прокси для распределения нагрузки между несколькими серверами.
        </p>

        <p class="par">
          3. Кэширование: Поддерживает кэширование статического контента, что позволяет уменьшить время загрузки страниц.
        </p>

        <p class="par">
          4. SSL/TLS: Поддержка безопасных соединений с использованием HTTPS.
        </p>

        <p class="par">
          5. Модульность: Имеет гибкую архитектуру, позволяя добавлять различные модули для расширения функциональности.
        </p>

        <p class="par">
          Nginx широко используется для хостинга веб-сайтов, особенно тех, которые требуют высокой производительности и надежности.
        </p>

        <p class="par">
          Для установки Nginx на Linux сервер перейдем в командную строку.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          apt install nginx
        </div>
        <br>

        <p class="par">
          Запускаем сервер командой старт
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          service nginx start
        </div>
        <br>

        <p class="par">
          После установки нужно добавить nginx в автозагрузку
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          systemctl enable nginx
        </div>
        <br>

        <p class="par">
          Проверяем что сервер работает и добавлен в автозагрузку
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          service nginx status
        </div>
        <br>

        <p class="par">
          Если всё прошло хорошо, то в консольном выводе будет что-то похожее, как на скришоте ниже.
        </p>

        <br>
        <img src="/images/screenServiceNginx.png" class="img-responsive" alt="статус работы сервере">
        <br>
        <br>

        <p class="par">
          И если теперь перейти по адресу нашего сервера, мы попадём на страницу приветствия nginx.
        </p>

        <br>
        <img src="/images/welcome to nginx.png" class="img-responsive" alt="статус работы сервере">
        <br>
        <br>

        <p class="par">
          Отлично, прокси-сервер работает с минимальными настройками. Перенастроим его работу под свои нужды.
        </p>

        <p class="par">
          Возвращаемся в консоль и переходим по адресу  <span style="font-weight: bold">/etc/nginx/sites-enabled</span>. Здесь создадим
          файлы конфигурации для каждого приложения отдельный.
        </p>

        <p class="par">
          Для доменного адреса <span style="font-weight: bold">test.pufr.ru</span> создадим файл с вот таким текстом:
        </p>


        <div class="card mt-4">
          <div class="card-body">

              <pre class="bg-light p-3">
                <code>
server {
listen 80;
listen [::]:80;

server_name test.pufr.ru;

location / {
proxy_pass http://localhost:58888;
proxy_set_header X-Forwarded-Host $host;
proxy_set_header X-Forwarded-Server $host;
proxy_set_header X-Forwarded-Proto $scheme;
proxy_set_header X-Forwarded-Port $server_port;
proxy_set_header X-Forwarded-For $proxy_a
                </code>
              </pre>
          </div>
        </div>


        <p class="par">
          А для адреса <span style="font-weight: bold">test2.pufr.ru</span> вот с таким:
        </p>


          <div class="card mt-4">
            <div class="card-body">

              <pre class="bg-light p-3">
                <code>
server {
listen 80;
listen [::]:80;

server_name test2.pufr.ru;

location / {
proxy_pass http://localhost:59999;
proxy_set_header X-Forwarded-Host $host;
proxy_set_header X-Forwarded-Server $host;
proxy_set_header X-Forwarded-Proto $scheme;
proxy_set_header X-Forwarded-Port $server_port;
                </code>
              </pre>
            </div>
          </div>

        <p class="par">
          Теперь сделаем созданные нами ранее приложения выполняемыми и добавим их в автозагрузку. Для начала скопируем
          JAR архивы на сервер в домашнюю папку.
        </p>

        <p class="par">
          Перейдём в папку, где хранятся конфигурационные файлы служб
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          cd /etc/systemd/system/
        </div>
        <br>

        <p class="par">
          Здесь нам нужно создать два файла настроек, для автоматического запуска наших spring приложений. Назовём их
          test1App.service и test2App.service. Открываем редактор через консоль.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          vi test1App.service
        </div>
        <br>

        <p class="par">
          Ну и пишем в него следующий текст:
        </p>

        <div class="card mt-4">
          <div class="card-body">

              <pre class="bg-light p-3">
                <code>
[Unit]
Description=This is the #1 test app for explaining how nginx works.
After=network.target

[Service]
Type=simple
SyslogIdentifier=appdescription
WorkingDirectory=/home/dir/app/
PIDFile=/home/dir/app/SpringTestApp1.pid
ExecStart=/bin/sh -c "exec /usr/bin/java -jar SpringTestApp1.jar & echo $! > /home/serj/proj/SpringTestApp1.pid"
ExecReload=/bin/kill -s HUP $MAINPID ExecStop=/bin/kill -s QUIT $MAINPID

[Service]
Type=forking
PIDFile=/home/dir/app/SpringTestApp1.pid

[Install]
WantedBy=default.target
                </code>
              </pre>
          </div>
        </div>


        <p class="par">
          В этом файле нужно будет заменить на ваши пути к файлам. Для примера тут архив лежит по пути /home/dir/app/SpringTestApp1.jar.
          То же самое проделаем для второго файла настроек.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          vi test2App.service
        </div>
        <br>

        <p class="par">
          Ну и скрипт соответственно:
        </p>


        <div class="card mt-4">
          <div class="card-body">

              <pre class="bg-light p-3">
                <code>
[Unit]
Description=This is the #2 test app for explaining how nginx works.
After=network.target

[Service]
Type=simple
SyslogIdentifier=appdescription
WorkingDirectory=/home/dir/app/
PIDFile=/home/dir/app/SpringTestApp2.pid
ExecStart=/bin/sh -c "exec /usr/bin/java -jar SpringTestApp2.jar & echo $! > /home/serj/proj/SpringTestApp2.pid"
ExecReload=/bin/kill -s HUP $MAINPID ExecStop=/bin/kill -s QUIT $MAINPID

[Service]
Type=forking
PIDFile=/home/dir/app/SpringTestApp2.pid

[Install]
WantedBy=default.target
                </code>
              </pre>
          </div>
        </div>


        <p class="par">
          Перейдём в каталог, куда мы поместили архивы и указали этот путь в конфигурационных файлах.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          cd /home/dir/app/
        </div>
        <br>

        <p class="par">
          Для того чтобы созданные файлы вступили в силу нужно перечитать их.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          systemctl daemon-reload
        </div>
        <br>

        <p class="par">
          Затем добавим приложение в автозагрузку.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          systemctl enable test1App.service
        </div>
        <br>

        <p class="par">
          И запустим на выполнение.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">
          systemctl start test1App.service
        </div>
        <br>

        <p class="par">
          Первое приложение готово. Если перейти по адресу <a href="http://test.pufr.ru">test.pufr.ru</a>, то откроется
          страница первого приложения.
        </p>

        <br>
        <img src="/images/screenbrowser2.png" class="img-responsive" alt="страница приложения 1 в браузере ">
        <br>
        <br>

        <p class="par">
          По аналогии делаем все вышеперечисленные шаги для приложения 2. Ну и теперь если перейти по адресу
          <a href="http://test2.pufr.ru">test2.pufr.ru</a>, то откроется
          страница второго приложения.
        </p>

        <br>
        <img src="/images/screenbrowser3.png" class="img-responsive" alt="страница приложения 2 в браузере ">
        <br>
        <br>


        <p class="par">
          На этом можно закончить настройку прокси сервере.
        </p>

        <div class="bg-dark text-white text-left" style="padding: 10px;">

        </div>
        <br>


      </div>

    </div>

  </div>
</div>


<br>
<br>

<div th:insert = "blocks/footer :: footer"></div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>  -->



</body>
</html>

