<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

    <style>
        .form-test {
            font: 16px Arial;
        }
        .form-test input {
            font: 16px Arial;
            border: none;
            padding: 0;
            background: #ffffff;
            color: #000000;
        }
    </style>

</head>

<body>


<header th:insert = "blocks/header :: header"></header>


<div class="container">

    <div class="row">

            <div class="container">
                <div style="display:inline; float:left; margin:5pt;">
                    <a href="/fileBrouser">..</a>
                </div>
                <div style="display:inline; float:left; margin:5pt;" th:each="mapItem : ${pathLine}">
                    <div>
                        <form class="form-test" th:action="@{/fileBrouser}" method="post">
                            <input type="hidden" name="direction" th:value="${mapItem.value.path}">
                            <input type="submit" th:value="${'/ ' + mapItem.value.nameFolder}">
                        </form>
                    </div>
                </div>
            </div>


        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Тип</th>
                <th>Размер</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="mapItem : ${brouser}">

                    <td style="max-width: 30px">
                        <img th:src="@{/images/folder26.png}"/>
                    </td>


                    <td>
                        <form   class="form-test" th:action="@{/fileBrouser}" method="post">
                            <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                            <input style="font-weight: bold " type="submit" th:value="${mapItem.value.name}">
                        </form>
                    </td>


                    <td>
                        <p th:text="${mapItem.value.type}"></p>
                    </td>


                    <td>
                        <p th:text="${mapItem.value.size}"></p>
                    </td>

                    <td>
                        <form class="form-test" th:action="@{/fileBrouser_delete}" method="post">
                            <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                            <input style="color: blue" type="submit" value="Удалить">
                        </form>
                    </td>

                    <td>
                        <form class="form-test" th:action="@{/fileBrouser_save_archiv}" method="post">
                            <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                            <input style="color: blue" type="submit" value="Скачать">
                        </form>
                    </td>

                    <td>
                        <form class="form-test" th:action="@{/fileBrouser_deteils}" method="post">
                            <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                            <input style="color: blue" type="submit" value="Свойства">
                        </form>
                    </td>

                </tr>
            </tbody>
        </table>

<!--
        <table class="table table-hover">

            <tbody>
            <tr th:each="mapItem : ${files}">

                <td style="max-width: 30px">
                    <img th:src="@{/images/file26.png}"/>
                </td>


                <td>
                    <form class="form-test" th:action="@{/fileBrouser}" method="post">
                        <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                        <input type="submit" th:value="${mapItem.value.name}">
                    </form>
                </td>


                <td>
                    <p th:text="${mapItem.value.type}"></p>
                </td>


                <td>
                    <p th:text="${mapItem.value.size}"></p>
                </td>

                <td>
                    <form class="form-test" th:action="@{/fileBrouser_delete}" method="post">
                        <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                        <input type="submit" value="Удалить">
                    </form>
                </td>

                <td>
                    <form class="form-test" th:action="@{/fileBrouser_save}" method="post">
                        <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                        <input type="submit" value="Скачать">
                    </form>
                </td>

                <td>
                    <form class="form-test" th:action="@{/fileBrouser_deteils}" method="post">
                        <input type="hidden" name="direction" th:value="${mapItem.value.path + mapItem.value.name}">
                        <input type="submit" value="Свойства">
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
-->
    </div>

</div>


<div th:insert = "blocks/footer :: footer"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>