<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
  <!-- Optional theme-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>


<header th:insert = "blocks/header :: header"></header>


<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div th:each="el : ${user}" class="alert alert-info mt-2">
        <p th:text="${el.email}"></p>
        <p th:text="${el.password}"></p>
        <p th:text="${el.firstName}"></p>
        <p th:text="${el.lastName}"></p>
        <p th:text="${el.pathline}"></p>
        <p th:text="${el.counterEntry}"></p>
        <p th:text="${el.role}"></p>
        <p th:text="${el.status}"></p>

        <br>
        <a th:href="'/user/edit/' + ${el.id}" class="btn btn-warning">Редактировать</a>
        <a th:href="'/user/delete/' + ${el.id}" class="btn btn-warning">Удалить</a>
        <a th:href="'/user/resetPass/' + ${el.id}" class="btn btn-warning">Сбросить пароль</a>
      </div>

    </div>

      <div class="col-md-4">
        <a th:href="'/users'" class="btn btn-warning">К списку пользователей</a>
      </div>
  </div>




  </div>
</div>


<div th:insert = "blocks/footer :: footer"></div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>  -->



</body>
</html>

