<div th:="header">
    <header>

        <div class="navbar navbar-inverse navbsr-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">PUFR.RU</a>
                </div>

                <div class="navbar-collapse collapse">

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Поиск">
                        </div>
                        <button type="submit" class="btn btn-default">Искать</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/">Блог</a></li>
                        <li><a href="/enter">Войти</a></li>
                        <li><a href="/about">О нас</a></li>
                    </ul>

                </div>
            </div>

        </div>


    </header>
</div>


<!--

        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Блог</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить стаью</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/users">Пользователи</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О нас</a>
            </nav>
        </div>



-->
